function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto Ball.IFFALSE0
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto Ball.CONTINUE0
label Ball.IFFALSE0
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label Ball.CONTINUE0
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto Ball.IFFALSE1
push this 4
push this 5
add
pop this 4
goto Ball.CONTINUE1
label Ball.IFFALSE1
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto Ball.IFFALSE2
push this 7
not
if-goto Ball.IFFALSE3
push this 0
push constant 4
add
pop this 0
goto Ball.CONTINUE3
label Ball.IFFALSE3
push this 1
push constant 4
add
pop this 1
label Ball.CONTINUE3
goto Ball.CONTINUE2
label Ball.IFFALSE2
push this 7
not
if-goto Ball.IFFALSE4
push this 0
push constant 4
sub
pop this 0
goto Ball.CONTINUE4
label Ball.IFFALSE4
push this 1
push constant 4
sub
pop this 1
label Ball.CONTINUE4
label Ball.CONTINUE2
label Ball.CONTINUE1
push this 8
not
if-goto Ball.IFFALSE5
push this 7
not
if-goto Ball.IFFALSE6
push this 1
push constant 4
add
pop this 1
goto Ball.CONTINUE6
label Ball.IFFALSE6
push this 0
push constant 4
add
pop this 0
label Ball.CONTINUE6
goto Ball.CONTINUE5
label Ball.IFFALSE5
push this 7
not
if-goto Ball.IFFALSE7
push this 1
push constant 4
sub
pop this 1
goto Ball.CONTINUE7
label Ball.IFFALSE7
push this 0
push constant 4
sub
pop this 0
label Ball.CONTINUE7
label Ball.CONTINUE5
push this 0
push this 10
gt
not
not
if-goto Ball.IFFALSE8
push constant 1
pop this 14
push this 10
pop this 0
goto Ball.CONTINUE8
label Ball.IFFALSE8
label Ball.CONTINUE8
push this 0
push this 11
lt
not
not
if-goto Ball.IFFALSE9
push constant 2
pop this 14
push this 11
pop this 0
goto Ball.CONTINUE9
label Ball.IFFALSE9
label Ball.CONTINUE9
push this 1
push this 12
gt
not
not
if-goto Ball.IFFALSE10
push constant 3
pop this 14
push this 12
pop this 1
goto Ball.CONTINUE10
label Ball.IFFALSE10
label Ball.CONTINUE10
push this 1
push this 13
lt
not
not
if-goto Ball.IFFALSE11
push constant 4
pop this 14
push this 13
pop this 1
goto Ball.CONTINUE11
label Ball.IFFALSE11
label Ball.CONTINUE11
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto Ball.IFFALSE12
push constant 10
pop local 4
goto Ball.CONTINUE12
label Ball.IFFALSE12
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto Ball.IFFALSE13
push constant 20
pop local 4
goto Ball.CONTINUE13
label Ball.IFFALSE13
push constant 5
pop local 4
label Ball.CONTINUE13
label Ball.CONTINUE12
push this 14
push constant 1
eq
not
if-goto Ball.IFFALSE14
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball.CONTINUE14
label Ball.IFFALSE14
push this 14
push constant 2
eq
not
if-goto Ball.IFFALSE15
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball.CONTINUE15
label Ball.IFFALSE15
push this 14
push constant 3
eq
not
if-goto Ball.IFFALSE16
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto Ball.CONTINUE16
label Ball.IFFALSE16
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label Ball.CONTINUE16
label Ball.CONTINUE15
label Ball.CONTINUE14
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
